.App {
  text-align: center;
}

// div {
//   border: 1px solid black;
// }

.outer-container {
  height: 100vh;
  width: 100vw;
}

.header {
  height: 80px;
  margin-bottom: 10px;
}
.content{
  &__ad{
    // height: 400px;
    // width: 300px;
    max-height: 800px;
    max-width: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 0 auto;

  }
  &__ad-image{
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  &__teasers{
    gap: 5px;
    margin: 0 auto;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media only screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

  }
}

